
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src:url('../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');

}

@font-face {
  font-family: 'RobotoMono';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url('../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');

}